<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Search Groups</ion-title>
    </ion-toolbar>

    <ion-toolbar class="ion-padding-top">
        <ion-searchbar searchIcon="person-outline" placeholder="Search for your group" type="text"
            [value]="group?.title" (ionInput)="search($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
    <ion-list *ngFor="let group of groups" lines="full">
        <ion-item (click)="selectGroup(group)">
            <ion-avatar slot="start">
                <img [src]="group.imageUrl">
            </ion-avatar>
            <ion-label>{{group.title}}</ion-label>
            <ion-icon name="add-circle-outline" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer class="ion-no-border">

</ion-footer>