<ion-list lines="full" *ngIf="status" [@stagger]>
    <ion-item button *ngFor="let item of status" (click)="thisStatus(item)">
        <ion-avatar slot="start">
            <ion-img [src]="item.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label>
            <h3 class="ion-text-bold">{{item.user}}</h3>
            <h5>{{item.messageText}}</h5>
            <p>{{item.relativeText}}</p>
        </ion-label>
        <ion-badge *ngIf="item.type === 'blog'" slot="end"><small>{{item.type}}</small></ion-badge>
    </ion-item>
</ion-list>