<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="blogs">
      <ion-icon name="documents-outline"></ion-icon>
      <ion-label>Blogs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="groups">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="messages">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fundraising">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Fundraising</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>