<ion-item lines="none">
    <ion-avatar slot="start">
        <img [src]="event?.profileImageUrl" />
    </ion-avatar>
    <ion-label>
        <h4>{{event?.title}}</h4>
        <p>{{event?.location}}</p>
        <small>{{event?.addressLine1}}</small>
    </ion-label>

    <div class="h-full inline-block" slot="end">
        <div class="
      date
      font-bold
      text-center
      overflow-hidden
      rounded
      w-12
      my-0
      mx-auto
    ">
            <div class="month bg-primary text-white text-xs">
                {{event.startDate | date: 'MMM'}}
            </div>
            <div class="bg-white">{{event.startDate | date: 'd'}}</div>
            <div class="year bg-dark text-white text-xs">
                {{event.startDate | date: 'YYYY'}}
            </div>
        </div>
    </div>
</ion-item>