<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar" color="secondary">
    <ion-buttons slot="start" (click)="showAbout()">
      <ion-button>About</ion-button>
    </ion-buttons>
    <ion-title class="title">Updates</ion-title>
    <ion-buttons slot="end">
      <ion-button class="loginButton" *ngIf="userQuery.isGuest | async" (click)="goToLogin()">Login</ion-button>
      <ion-button *ngIf="userQuery.isUser | async">
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="assets/img/logo.png" width="90%" height="90%" class="m-auto" />
  </div>
  <div class="buttons w-full text-center">
    <section>
      <ion-button size="small" (click)="goToV()">To Volunteer</ion-button>
      <ion-button size="small" color="secondary" (click)="goToTR()">Treatment Resources</ion-button>
    </section>
  </div>
  <div class="update">
    <h5 class="updates w-full text-center">
      <span class="latest text-xl">Latest updates</span>
    </h5>
  </div>

  <ion-grid>
    <ion-row *ngFor="let blog of blogQuery.allBlogs | async as blogs">
      <ion-col>
        <ion-card class="ion-no-margin">
          <app-blog-item [blog]="blog" [color]="'primary'"></app-blog-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>